<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RandomWeather.com</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="icon" href="/img/weather_few_clouds.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka&family=Lobster&family=Pacifico&family=Sansita+Swashed:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>RandomWeather.com</h1>
    </header>
    <section>
        <h1 id="cityText">
            <%=f.getFormattedCity(currentWeatherData)%>
        </h1>
        <table>
            <tbody>
            <!-- Autogenerate rows corresponding to the weather data -->
            <%
            for (const [key, value] of Object.entries(currentWeatherData.obs)) {
                __append("<tr> <td>" + key + "</td> <td id='" + key + "'>" + value +"</td></tr>")
            }
            %>
            </tbody>
        </table>
    </section>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/require.js"></script>
    <script src="/js/updateWeatherUi.js"></script>
</body>
</html>